html {
  height: 100%;
}
 
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
}

#bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("/img/beme_pb_2017.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -3;
  
  display: table;
}

#bg-cover {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.66;
  z-index: -2;
}

#content {
  color: white;
  z-index: 0;
  
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  
  -webkit-animation: fadein 2s; /* Safari and Chrome */
     -moz-animation: fadein 2s; /* Firefox */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera */
          animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#content h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  padding: 10px;
  font-size: 300%;
}
#content p {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  padding: 10px;
  font-size: 150%;
}

#links {
  word-spacing: 1.5em;
}
#links a {
  color: white;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
